<% let orderData={} ;for(let orderIdx in data.orders) { let order=data.orders[orderIdx];%>


    <!-- <tr class=" important"> -->
    <tr class="hover_line" data-order_idx="<%=order.order_idx%>">
        <td>
            <%=order.b_time%>
        </td>
        <td>
            <%=order.e_time%>
        </td>
        <td class="task-name show_view_model" data-order_idx="<%=order.order_idx%>">
            <%=order.title%>
                <% if(order.imp_yn=="Y" ){ %><span style="color: red; font-size: 20px;">*</span>
                    <% } %>
        </td>

        <td class="deliverable">
            <%=order.output || "미정" %>
        </td>
        <td>
            <select class="status"
                style='<%=(order.status=="03" || order.status=="05") ? "background-color: #ee293b; color: #ffffff;" : ""%>'>
                <option value="01" <%=order.status=="01" ? "selected" : "" %> >작업요청</option>
                <option value="02" <%=order.status=="02" ? "selected" : "" %> >수정요청</option>
                <option value="03" <%=order.status=="03" ? "selected" : "" %> >작업완료</option>
                <option value="04" <%=order.status=="04" ? "selected" : "" %> >납품완료</option>
                <option value="05" <%=order.status=="05" ? "selected" : "" %> >수정완료</option>
                <option value="06" <%=order.status=="06" ? "selected" : "" %> >완료후 수정 요청</option>
            </select>
        </td>
        <td>
            <%if(order.show_yn=="Y" ){%>
                <%=order.order_price || '' %>
                    <%}%>
        </td>
    </tr>

    <script>
        contentData["<%= order.order_idx %>"] = {
            status: "<%=order.status%>",
            title: "<%=order.title%>",
            b_time: "<%=order.b_time%>",
            e_time: "<%=order.e_time%>",
            output: "<%=order.output%>",
            status: "<%=order.status%>",
            imp_yn: "<%=order.imp_yn%>",
            order_price: "<%=order.order_price%>",
            work_price: "<%=order.work_price%>",
            show_yn: "<%=order.show_yn%>",
            content: `<%-order.content.replace( /\\"/g, '"' )%>`,
        }
    </script>
    <%}%>