<% for(let orderIdx in data.orders) { let order=data.orders[orderIdx];%>
    <!-- <tr class=" important"> -->
    <tr class="hover_line" data-order_idx="<%=order.order_idx%>">
        <td>
            <%=order.b_time%>
        </td>
        <td>
            <%=order.e_time%>
        </td>
        <td class="task-name">
            <a href="#" class="open-view-modal" data-order-idx="<%=order.order_idx%>">
                <%=order.title%>
                    <% if(order.imp_yn=="Y" ){ %><span style="color: red; font-size: 20px;">*</span>
                        <% } %>
            </a>
        </td>

        <td class="deliverable">
            <%=order.output || "미정" %>
        </td>
        <td>
            <select class="status">
                <option value="01" <%=order.status=="01" ? "selected" : "" %> >작업요청</option>
                <option value="02" <%=order.status=="02" ? "selected" : "" %> >수정요청</option>
                <option value="03" <%=order.status=="03" ? "selected" : "" %> >작업완료</option>
                <option value="04" <%=order.status=="04" ? "selected" : "" %> >납품완료</option>
                <option value="05" <%=order.status=="05" ? "selected" : "" %> >수정완료</option>
                <option value="06" <%=order.status=="06" ? "selected" : "" %> >완료후 수정 요청</option>
            </select>
        </td>
        <td>
            <input type="text" style="width: 100px;" name="order_price"
                onkeypress="return allowOnlyNumbersAndComma(event)" value="<%=order.order_price || '' %>" />
        </td>
        <td>
            <input type="text" style="width: 100px;" name="work_price"
                onkeypress="return allowOnlyNumbersAndComma(event)" value="<%=order.work_price || '' %>" />
        </td>
        <td>
            <input type="checkbox" name="priceShow" <%=order.show_yn=="Y" ? "checked" : "" %> />
        </td>
    </tr>
    <%}%>